### Preparing environment for query

In [2]:
# Importing dependencies 
#! pip install google-cloud-bigquery
#! pip install psycopg2-binary
from google.cloud import bigquery
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
from config_db import db_password

Requirement already satisfied: google-cloud-bigquery in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (2.26.0)
Requirement already satisfied: proto-plus>=1.10.0 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-cloud-bigquery) (1.19.0)
Requirement already satisfied: packaging>=14.3 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-cloud-bigquery) (20.4)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-cloud-bigquery) (2.24.0)
Requirement already satisfied: protobuf>=3.12.0 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-cloud-bigquery) (3.17.3)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.4.1 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-cloud-bigquery) (2.0.0)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-cloud-bigquery) (2.0.2)
Requirement already satisfied: grpcio<2.0dev,>=1.38.1 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-cloud-bigquery) (1.40.0)
Requirement already satisfied: google-api-core[grpc]<3.0.0dev,>=1.29.0 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-cloud-bigquery) (2.0.1)
Requirement already satisfied: six in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from packaging>=14.3->google-cloud-bigquery) (1.15.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from packaging>=14.3->google-cloud-bigquery) (2.4.7)
Requirement already satisfied: idna<3,>=2.5 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (1.25.11)
Requirement already satisfied: google-auth<3.0dev,>=1.24.0 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-cloud-core<3.0.0dev,>=1.4.1->google-cloud-bigquery) (2.0.2)
Requirement already satisfied: google-crc32c<=1.1.2,>=1.0 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.1.2)
Requirement already satisfied: setuptools>=40.3.0 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (50.3.1.post20201107)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (1.53.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-auth<3.0dev,>=1.24.0->google-cloud-core<3.0.0dev,>=1.4.1->google-cloud-bigquery) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-auth<3.0dev,>=1.24.0->google-cloud-core<3.0.0dev,>=1.4.1->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-auth<3.0dev,>=1.24.0->google-cloud-core<3.0.0dev,>=1.4.1->google-cloud-bigquery) (4.2.2)
Requirement already satisfied: cffi>=1.0.0 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from google-crc32c<=1.1.2,>=1.0->google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.14.3)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from rsa<5,>=3.1.4->google-auth<3.0dev,>=1.24.0->google-cloud-core<3.0.0dev,>=1.4.1->google-cloud-bigquery) (0.4.8)
Requirement already satisfied: pycparser in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (from cffi>=1.0.0->google-crc32c<=1.1.2,>=1.0->google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (2.20)
Requirement already satisfied: psycopg2-binary in c:\users\farah\anaconda3\envs\pythondata\lib\site-packages (2.8.6)

In [7]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="../client_secret.json"

In [8]:
# Initializing a BigQuery client to authenticate and connect to BigQuery API
client = bigquery.Client()

In [9]:
# Exploring raw dataset
hn_dataset_ref = client.dataset('stackoverflow', project='bigquery-public-data')
hn_dataset_ref

DatasetReference('bigquery-public-data', 'stackoverflow')

In [10]:
type(hn_dataset_ref)

google.cloud.bigquery.dataset.DatasetReference

In [11]:
hn_dset = client.get_dataset(hn_dataset_ref)
hn_dset

Dataset(DatasetReference('bigquery-public-data', 'stackoverflow'))

In [12]:
type(hn_dset)

google.cloud.bigquery.dataset.Dataset

In [13]:
# Determine available data tables
[x.table_id for x in client.list_tables(hn_dset)]

['badges',
 'comments',
 'post_history',
 'post_links',
 'posts_answers',
 'posts_moderator_nomination',
 'posts_orphaned_tag_wiki',
 'posts_privilege_wiki',
 'posts_questions',
 'posts_tag_wiki',
 'posts_tag_wiki_excerpt',
 'posts_wiki_placeholder',
 'stackoverflow_posts',
 'tags',
 'users',
 'votes']

### Query + EDA of post_questions table for questions posted on and after 01/01/2021

In [14]:
# Querying for questions with accepted answers that were posted on and after 01/01/2021
query_job = client.query(
        """
        SELECT
        id, title, body, accepted_answer_id, creation_date, favorite_count, score, tags, view_count
        FROM `bigquery-public-data.stackoverflow.posts_questions`
        WHERE accepted_answer_id is not null AND creation_date >= '2021-01-01'
        ORDER BY accepted_answer_id"""
    )

results = query_job.result() 
results_list = [row for row in results]
cols = ['q_id', 'q_title', 'q_body', 'accepted_answer_id', 'q_creation_date', 'q_favorite_count', 'q_score', 'q_tags', 'q_view_count']
posts_questions_df = pd.DataFrame.from_records(results_list, columns=cols)
posts_questions_df.sample(n=15)

,q_id,q_title,q_body,accepted_answer_id,q_creation_date,q_favorite_count,q_score,q_tags,q_view_count
82252,66159515,Firestore query after previous queries last do...,<p>I first do a query and get the first 30 &qu...,66165120,2021-02-11 17:15:30.030000+00:00,NaN,0,node.js|google-cloud-firestore|google-cloud-fu...,49
138337,66589523,How to get all strings instances following a c...,<p><strong>The Problem</strong></p>\n<p>Using ...,66589712,2021-03-11 19:47:57.230000+00:00,NaN,2,regex|bash,43
194948,67021189,how to i make warn command,<p>my command in warn.js</p>\n<pre><code>modul...,67025740,2021-04-09 12:29:03.340000+00:00,NaN,0,javascript|node.js|discord.js,225
345863,68171487,What should Go ABI.Pack argument type look lik...,<p>The following code is a popular Solidity Et...,68212171,2021-06-29 01:12:01.570000+00:00,1.0,1,go|types|ethereum|solidity|go-ethereum,183
78703,66135417,getDocumentByName in Photoshop,"<p>Whilst it's possible to grab a layer, histo...",66138689,2021-02-10 10:47:49.950000+00:00,NaN,0,javascript|photoshop|photoshop-script,42
375099,68443856,List comprehension to append an element to a t...,<p>I have a numpy array</p>\n<pre><code>arr = ...,68443881,2021-07-19 16:19:05.980000+00:00,NaN,-2,python|arrays|numpy,32
377928,68409823,Running multiple threads on the same DPDK lcore,<p>I am developing a dpdk forwarding applicati...,68466143,2021-07-16 13:26:24.210000+00:00,NaN,0,c|dpdk,72
306361,67896813,how to split string and take only the first st...,"<p>I have this column in my dataframe, and I w...",67896841,2021-06-09 02:41:15.133000+00:00,NaN,-1,python|pandas|split,36
122134,66465934,Attempt when checking if file has permission f...,<p>I have tried to check if the given input of...,66466002,2021-03-03 22:33:17.693000+00:00,NaN,0,bash,18
277383,67652196,How to create permission to read/view files?,<p>How do I pass the permissions hash or json?...,67668379,2021-05-22 17:10:23.430000+00:00,NaN,1,rest|post|google-drive-api|google-apis-explorer,56
234328,67330122,How do I remove text after a specific characte...,<p>I need to remove everything after a specifi...,67332212,2021-04-30 07:45:30.830000+00:00,NaN,1,character|tableau-api,74
309003,67901891,"Prometheus pod crashlooping on error ""opening ...",<p>I restarted the Prometheus pod and now the ...,67918627,2021-06-09 10:01:34.730000+00:00,NaN,0,kubernetes|prometheus|kubernetes-helm|kubernet...,96
131413,66527982,Should I use connect or hooks for react redux ...,<p>I am using react-redux for my react project...,66536853,2021-03-08 10:18:01.883000+00:00,NaN,1,javascript|reactjs|typescript|redux,84
57571,65920457,CAN BUS STM32 Nucleo F429ZI CAN Write Fail,<p>It is Veysel My board is STM32 Nucleo F429Z...,65976260,2021-01-27 13:45:52.047000+00:00,1.0,0,c++|stm32|can-bus|mbed|nucleo,113
332035,68101914,searchView menuItem appears in the collapsible...,<p>My current situation is as so:</p>\n<p>My S...,68102065,2021-06-23 14:34:28.583000+00:00,NaN,2,android|xml|android-studio|kotlin|android-layout,20

In [15]:
# Determine data types for posts_questions_df
posts_questions_df.dtypes

q_id                                int64
q_title                            object
q_body                             object
accepted_answer_id                  int64
q_creation_date       datetime64[ns, UTC]
q_favorite_count                  float64
q_score                             int64
q_tags                             object
q_view_count                        int64
dtype: object

In [16]:
posts_questions_df.shape

(449605, 9)

In [17]:
posts_questions_df.nunique()

q_id                  449605
q_title               449601
q_body                449582
accepted_answer_id    449605
q_creation_date       449581
q_favorite_count          27
q_score                   92
q_tags                230332
q_view_count            3217
dtype: int64

In [18]:
posts_questions_df = posts_questions_df.set_index("q_id")

In [19]:
posts_questions_df.head()

,q_title,q_body,accepted_answer_id,q_creation_date,q_favorite_count,q_score,q_tags,q_view_count
q_id,,,,,,,,
65526420,How to check if values in individiual rows of ...,<p>Suppose I have the following data.table:</p...,65526457,2021-01-01 00:05:46.310000+00:00,2.0,2,r|data.table|rowwise,62
65526423,d3.js : Generating axis ticks for ordinal values,<p>I want to use ordinal scale in x-axis with ...,65526533,2021-01-01 00:06:09.007000+00:00,NaN,2,javascript|d3.js,48
65526490,Is there a C macro that replaces varied length...,<p>I want to be able to:</p>\n<pre><code>#defi...,65526541,2021-01-01 00:20:09.553000+00:00,0.0,2,c|macros,35
65526419,How can I construct my objects allocated throu...,<p>C++20 removed the <code>construct()</code> ...,65526554,2021-01-01 00:05:43.627000+00:00,NaN,3,c++|std|c++20|allocator,351
65526523,Navigate from parent to child in react where e...,<p>In a React app with a parent and child elem...,65526577,2021-01-01 00:30:31.933000+00:00,NaN,2,reactjs|react-router|react-router-dom,117

In [20]:
# Determine if there are many missing values in the posts_questions_df
[[column,posts_questions_df[column].isnull().sum()] for column in posts_questions_df.columns]

[['q_title', 0],
 ['q_body', 0],
 ['accepted_answer_id', 0],
 ['q_creation_date', 0],
 ['q_favorite_count', 409078],
 ['q_score', 0],
 ['q_tags', 0],
 ['q_view_count', 0]]

In [21]:
# Determined percentage of rows with missing value in q_favorite_count column
percent_null = (posts_questions_df["q_favorite_count"].isnull().sum() / len(posts_questions_df)) * 100
percent_null

90.98608778816961

##### We decided to drop "q_favorite_count" column because ~91% of column has null values

In [22]:
# Drop q_favorite_count column and verified
posts_questions_df = posts_questions_df.drop(columns='q_favorite_count')
posts_questions_df.columns

Index(['q_title', 'q_body', 'accepted_answer_id', 'q_creation_date', 'q_score',
       'q_tags', 'q_view_count'],
      dtype='object')

In [23]:
# How many missing values in the DF by column
[[column,posts_questions_df[column].isnull().sum()] for column in posts_questions_df.columns]

[['q_title', 0],
 ['q_body', 0],
 ['accepted_answer_id', 0],
 ['q_creation_date', 0],
 ['q_score', 0],
 ['q_tags', 0],
 ['q_view_count', 0]]

In [24]:
# Additional method to verify number of rows with zero response time (what's the possible explanation?)
q_score_explore_raw = posts_questions_df.groupby('q_score').count()
q_score_explore_raw

,q_title,q_body,accepted_answer_id,q_creation_date,q_tags,q_view_count
q_score,,,,,,
-18,1,1,1,1,1,1
-12,1,1,1,1,1,1
-11,2,2,2,2,2,2
-10,6,6,6,6,6,6
-9,9,9,9,9,9,9
...,...,...,...,...,...,...
153,2,2,2,2,2,2
164,2,2,2,2,2,2
201,1,1,1,1,1,1
216,1,1,1,1,1,1
237,1,1,1,1,1,1

In [25]:
# Bin score for more meaningful analysis
# Establish the bins.
q_score_bins = [-10, -1, 0, 10, 25, 50, 101]
q_score_group_names = ["Negative Score (<0)", "Zero Score (0)", "Low Score (0-10)", "Medium Score (10 - 25)", "High Score (25-50)", "Popular Score (50-101)"]

# Categorize score based on the bins.
posts_questions_df['q_score_tier'] = pd.cut(posts_questions_df['q_score'], q_score_bins, labels=q_score_group_names)

In [26]:
# explore scores
q_score_explore = posts_questions_df.groupby('q_score_tier').count()
q_score_explore

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count
q_score_tier,,,,,,,
Negative Score (<0),44388,44388,44388,44388,44388,44388,44388
Zero Score (0),244214,244214,244214,244214,244214,244214,244214
Low Score (0-10),160359,160359,160359,160359,160359,160359,160359
Medium Score (10 - 25),473,473,473,473,473,473,473
High Score (25-50),112,112,112,112,112,112,112
Popular Score (50-101),37,37,37,37,37,37,37

In [27]:
# Bin score for more meaningful analysis (broader bin)

# Establish the bins.
q_score_bins = [-10, -1, 0, 101]
q_score_group_names = ["Negative Score (<0)", "Zero Score (0)", "Positive Score (>0)"]
# Categorize score based on the bins.
posts_questions_df['q_score_tier'] = pd.cut(posts_questions_df['q_score'], q_score_bins, labels=q_score_group_names)
# Bin scores
q_score_explore = posts_questions_df.groupby('q_score_tier').count()
q_score_explore

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count
q_score_tier,,,,,,,
Negative Score (<0),44388,44388,44388,44388,44388,44388,44388
Zero Score (0),244214,244214,244214,244214,244214,244214,244214
Positive Score (>0),160981,160981,160981,160981,160981,160981,160981

In [28]:
# Verify whether there are redundant columns for score_tier
posts_questions_df.columns

Index(['q_title', 'q_body', 'accepted_answer_id', 'q_creation_date', 'q_score',
       'q_tags', 'q_view_count', 'q_score_tier'],
      dtype='object')

In [29]:
# Verify data in q_score_tier column
posts_questions_df.sample(n=10)

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count,q_score_tier
q_id,,,,,,,,
65575371,logistic regression model with L1 regularisations,<p>I am trying to apply L1 regularization on a...,65575714,2021-01-05 08:27:35.370000+00:00,1,python|pytorch|logistic-regression|regularized,109,Positive Score (>0)
66282161,How to properly use onNext with .map with link...,<p>I am trying to list our these 4 Shirt image...,66284095,2021-02-19 17:19:57.247000+00:00,-1,reactjs,22,Negative Score (<0)
67559199,How do I prevent duplicates from a SQL join?,<p>I have the following tables:</p>\n<p><code>...,67559456,2021-05-16 16:38:54.333000+00:00,0,sql-server|sql-server-2005,62,Zero Score (0)
68055558,How to get PDF coordinates of specific selecte...,<p>I've a task to compare two pdfs to which I'...,68068035,2021-06-20 11:52:28.953000+00:00,0,java|pdf|pdfbox,63,Zero Score (0)
66886396,Unable to Align the Label under other Label,<p>Sorry I am very very new to CSS</p>\n<p>I a...,66887906,2021-03-31 10:53:48.233000+00:00,0,html|css,24,Zero Score (0)
67645342,npm install fails (unable to resolve dependenc...,<p>Trying to reduce any changing variables and...,67645813,2021-05-22 01:29:08.443000+00:00,1,node.js|react-native|npm|expo|npm-install,1244,Positive Score (>0)
65774473,Reusing HTTP response in Netty handler,<p>I'm using Netty for a server that needs to ...,65786516,2021-01-18 12:23:29.737000+00:00,0,java|netty,107,Zero Score (0)
66326240,How to pass data to MenuItem event handler,<p>When I have an array and render a Menu for ...,66326805,2021-02-23 02:32:58.857000+00:00,0,javascript|material-ui,53,Zero Score (0)
67677309,How to uncheck all asp.net checkboxes with sta...,<p>I am trying to uncheck all asp.net checkbox...,67678504,2021-05-24 18:40:37.373000+00:00,0,javascript|asp.net|web,32,Zero Score (0)
66028983,"Issue extracting ""mentions"" from Twitter data ...",<p>I am trying to extract the mentions in a Tw...,66029023,2021-02-03 13:56:35.567000+00:00,3,regex|pandas,52,Positive Score (>0)

In [30]:
# Drop score column because data transformed to the score_tier column
#posts_questions_df = posts_questions_df.drop(columns='q_score')
#posts_questions_df.columns

In [31]:
# Determine length of title
posts_questions_df['q_title_char_count']= posts_questions_df['q_title'].str.len() #character count
posts_questions_df['q_title_word_count']= posts_questions_df['q_title'].str.split().str.len() #word count
posts_questions_df.head()

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count,q_score_tier,q_title_char_count,q_title_word_count
q_id,,,,,,,,,,
65526420,How to check if values in individiual rows of ...,<p>Suppose I have the following data.table:</p...,65526457,2021-01-01 00:05:46.310000+00:00,2,r|data.table|rowwise,62,Positive Score (>0),72,13
65526423,d3.js : Generating axis ticks for ordinal values,<p>I want to use ordinal scale in x-axis with ...,65526533,2021-01-01 00:06:09.007000+00:00,2,javascript|d3.js,48,Positive Score (>0),48,8
65526490,Is there a C macro that replaces varied length...,<p>I want to be able to:</p>\n<pre><code>#defi...,65526541,2021-01-01 00:20:09.553000+00:00,2,c|macros,35,Positive Score (>0),81,13
65526419,How can I construct my objects allocated throu...,<p>C++20 removed the <code>construct()</code> ...,65526554,2021-01-01 00:05:43.627000+00:00,3,c++|std|c++20|allocator,351,Positive Score (>0),76,9
65526523,Navigate from parent to child in react where e...,<p>In a React app with a parent and child elem...,65526577,2021-01-01 00:30:31.933000+00:00,2,reactjs|react-router|react-router-dom,117,Positive Score (>0),82,14

In [32]:
# Bin by title length (char count)
q_title_explore_char = posts_questions_df.groupby('q_title_char_count').count()
q_title_explore_char

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count,q_score_tier,q_title_word_count
q_title_char_count,,,,,,,,,
15,163,163,163,163,163,163,163,163,163
16,279,279,279,279,279,279,279,279,279
17,342,342,342,342,342,342,342,342,342
18,462,462,462,462,462,462,462,462,462
19,619,619,619,619,619,619,619,619,619
...,...,...,...,...,...,...,...,...,...
146,200,200,200,200,200,200,200,200,200
147,203,203,203,203,203,203,203,203,203
148,220,220,220,220,220,220,220,220,220
149,226,226,226,226,226,226,226,226,226
150,235,235,235,235,235,235,235,235,235

In [33]:
# Bin title length by char count

# Establish the bins.
q_char_count_bins = [0, 50, 100, 150]
q_char_count_group_names = ["Short (0 - 50)", "Medium (50-100)", "Long (100-150)"]

# Categorize char length based on the bins.
posts_questions_df['q_title_char_count_bin'] = pd.cut(posts_questions_df['q_title_char_count'], q_char_count_bins, labels=q_char_count_group_names)

# Bin by char length
q_char_count_explore = posts_questions_df.groupby('q_title_char_count_bin').count()
q_char_count_explore

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count,q_score_tier,q_title_char_count,q_title_word_count
q_title_char_count_bin,,,,,,,,,,
Short (0 - 50),175309,175309,175309,175309,175309,175309,175309,175302,175309,175309
Medium (50-100),250297,250297,250297,250297,250297,250297,250297,250284,250297,250297
Long (100-150),23999,23999,23999,23999,23999,23999,23999,23997,23999,23999

In [34]:
# Bin by title length (word count)
q_title_explore_word = posts_questions_df.groupby('q_title_word_count').count()
q_title_explore_word

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count,q_score_tier,q_title_char_count,q_title_char_count_bin
q_title_word_count,,,,,,,,,,
1,31,31,31,31,31,31,31,31,31,31
2,731,731,731,731,731,731,731,731,731,731
3,5384,5384,5384,5384,5384,5384,5384,5384,5384,5384
4,14809,14809,14809,14809,14809,14809,14809,14809,14809,14809
5,26286,26286,26286,26286,26286,26286,26286,26285,26286,26286
6,38441,38441,38441,38441,38441,38441,38441,38439,38441,38441
7,46820,46820,46820,46820,46820,46820,46820,46816,46820,46820
8,51386,51386,51386,51386,51386,51386,51386,51383,51386,51386
9,50089,50089,50089,50089,50089,50089,50089,50089,50089,50089
10,45341,45341,45341,45341,45341,45341,45341,45338,45341,45341
11,39081,39081,39081,39081,39081,39081,39081,39080,39081,39081
12,31558,31558,31558,31558,31558,31558,31558,31556,31558,31558
13,24830,24830,24830,24830,24830,24830,24830,24830,24830,24830
14,19295,19295,19295,19295,19295,19295,19295,19292,19295,19295
15,14376,14376,14376,14376,14376,14376,14376,14376,14376,14376
16,10846,10846,10846,10846,10846,10846,10846,10846,10846,10846
17,8002,8002,8002,8002,8002,8002,8002,8001,8002,8002
18,6016,6016,6016,6016,6016,6016,6016,6015,6016,6016
19,4248,4248,4248,4248,4248,4248,4248,4247,4248,4248
20,3176,3176,3176,3176,3176,3176,3176,3176,3176,3176
21,2522,2522,2522,2522,2522,2522,2522,2522,2522,2522
22,1823,1823,1823,1823,1823,1823,1823,1823,1823,1823
23,1299,1299,1299,1299,1299,1299,1299,1299,1299,1299
24,1020,1020,1020,1020,1020,1020,1020,1020,1020,1020
25,681,681,681,681,681,681,681,681,681,681
26,502,502,502,502,502,502,502,502,502,502
27,432,432,432,432,432,432,432,432,432,432
28,248,248,248,248,248,248,248,248,248,248
29,171,171,171,171,171,171,171,171,171,171
30,98,98,98,98,98,98,98,98,98,98
31,33,33,33,33,33,33,33,33,33,33
32,17,17,17,17,17,17,17,17,17,17
33,9,9,9,9,9,9,9,9,9,9
34,3,3,3,3,3,3,3,3,3,3
35,1,1,1,1,1,1,1,1,1,1

In [35]:
# Bin title length by word count

# Establish the bins.
q_title_word_count_bins = [0, 10, 20, 30, 40]
q_title_word_count_group_names = ["Short (0 - 10)", "Medium (10-20)", "Long (20-30)", "XL (30+)"]

# Categorize char length based on the bins.
posts_questions_df['q_title_word_count_bin'] = pd.cut(posts_questions_df['q_title_word_count'], q_title_word_count_bins, labels=q_title_word_count_group_names)

# Bin by char length
q_word_count_explore = posts_questions_df.groupby('q_title_word_count_bin').count()
q_word_count_explore

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count,q_score_tier,q_title_char_count,q_title_word_count,q_title_char_count_bin
q_title_word_count_bin,,,,,,,,,,,
Short (0 - 10),279318,279318,279318,279318,279318,279318,279318,279305,279318,279318,279318
Medium (10-20),161428,161428,161428,161428,161428,161428,161428,161419,161428,161428,161428
Long (20-30),8796,8796,8796,8796,8796,8796,8796,8796,8796,8796,8796
XL (30+),63,63,63,63,63,63,63,63,63,63,63

In [36]:
# Clean up posts_questions_df
posts_questions_df.columns

Index(['q_title', 'q_body', 'accepted_answer_id', 'q_creation_date', 'q_score',
       'q_tags', 'q_view_count', 'q_score_tier', 'q_title_char_count',
       'q_title_word_count', 'q_title_char_count_bin',
       'q_title_word_count_bin'],
      dtype='object')

In [37]:
# Drop q_title_char_count and q_title_word_count columns because data transformed into bins
#posts_questions_df = posts_questions_df.drop(columns='q_title_char_count')
#posts_questions_df = posts_questions_df.drop(columns='q_title_word_count')
#posts_questions_df.columns

In [38]:
# Explore view count
q_views_explore_raw = posts_questions_df.groupby('q_view_count').count()
q_views_explore_raw

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_score_tier,q_title_char_count,q_title_word_count,q_title_char_count_bin,q_title_word_count_bin
q_view_count,,,,,,,,,,,
5,3,3,3,3,3,3,3,3,3,3,3
6,8,8,8,8,8,8,8,8,8,8,8
7,25,25,25,25,25,25,25,25,25,25,25
8,59,59,59,59,59,59,59,59,59,59,59
9,119,119,119,119,119,119,119,119,119,119,119
...,...,...,...,...,...,...,...,...,...,...,...
57402,1,1,1,1,1,1,1,1,1,1,1
65954,1,1,1,1,1,1,1,1,1,1,1
93510,1,1,1,1,1,1,0,1,1,1,1
95253,1,1,1,1,1,1,0,1,1,1,1
159362,1,1,1,1,1,1,0,1,1,1,1

In [39]:
q_views_explore_raw.sort_values(by=['q_title']).tail(20) # Majority views around mid 20s to 30s

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_score_tier,q_title_char_count,q_title_word_count,q_title_char_count_bin,q_title_word_count_bin
q_view_count,,,,,,,,,,,
45,7026,7026,7026,7026,7026,7026,7026,7026,7026,7026,7026
43,7379,7379,7379,7379,7379,7379,7379,7379,7379,7379,7379
42,7409,7409,7409,7409,7409,7409,7409,7409,7409,7409,7409
25,7481,7481,7481,7481,7481,7481,7481,7481,7481,7481,7481
41,7707,7707,7707,7707,7707,7707,7707,7707,7707,7707,7707
26,7738,7738,7738,7738,7738,7738,7738,7738,7738,7738,7738
40,8044,8044,8044,8044,8044,8044,8044,8044,8044,8044,8044
39,8141,8141,8141,8141,8141,8141,8141,8141,8141,8141,8141
27,8255,8255,8255,8255,8255,8255,8255,8255,8255,8255,8255
28,8319,8319,8319,8319,8319,8319,8319,8319,8319,8319,8319
38,8327,8327,8327,8327,8327,8327,8327,8327,8327,8327,8327
37,8525,8525,8525,8525,8525,8525,8525,8525,8525,8525,8525
29,8546,8546,8546,8546,8546,8546,8546,8546,8546,8546,8546
36,8603,8603,8603,8603,8603,8603,8603,8603,8603,8603,8603
30,8799,8799,8799,8799,8799,8799,8799,8799,8799,8799,8799
35,8859,8859,8859,8859,8859,8859,8859,8859,8859,8859,8859
32,8907,8907,8907,8907,8907,8907,8907,8907,8907,8907,8907
33,8915,8915,8915,8915,8915,8915,8915,8915,8915,8915,8915
31,8934,8934,8934,8934,8934,8934,8934,8934,8934,8934,8934
34,8996,8996,8996,8996,8996,8996,8996,8996,8996,8996,8996

In [40]:
# Bin view count for more meaningful analysis
# Establish the bins.
q_view_count_bins = [0,  50, 500, 1000, 5000, 16000]
q_view_count_group_names = ["<50", "50-500", "500-1000", "1000-5000", "5000-16000"]

# Categorize score based on the bins.
posts_questions_df['q_view_count_bin'] = pd.cut(posts_questions_df['q_view_count'], q_view_count_bins, labels=q_view_count_group_names)

In [41]:
# Explore view count
q_views_explore = posts_questions_df.groupby('q_view_count_bin').count()
q_views_explore

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count,q_score_tier,q_title_char_count,q_title_word_count,q_title_char_count_bin,q_title_word_count_bin
q_view_count_bin,,,,,,,,,,,,
<50,250328,250328,250328,250328,250328,250328,250328,250328,250328,250328,250328,250328
50-500,188280,188280,188280,188280,188280,188280,188280,188271,188280,188280,188280,188280
500-1000,6733,6733,6733,6733,6733,6733,6733,6733,6733,6733,6733,6733
1000-5000,3814,3814,3814,3814,3814,3814,3814,3812,3814,3814,3814,3814
5000-16000,377,377,377,377,377,377,377,374,377,377,377,377

In [42]:
# Readjust bins for more distributed data - add meaningfulness to ML model inputs

# Establish the bins.
q_view_count_bins = [0, 10, 20, 30, 40, 50, 16000]
q_view_count_group_names = ["<10", "10-20", "20-30","30-40", "40-50", "50-16000"]

# Categorize score based on the bins.
posts_questions_df['q_view_count_bin'] = pd.cut(posts_questions_df['q_view_count'], q_view_count_bins, labels=q_view_count_group_names)
# Explore view count
q_views_explore = posts_questions_df.groupby('q_view_count_bin').count()
q_views_explore

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count,q_score_tier,q_title_char_count,q_title_word_count,q_title_char_count_bin,q_title_word_count_bin
q_view_count_bin,,,,,,,,,,,,
<10,452,452,452,452,452,452,452,452,452,452,452,452
10-20,22517,22517,22517,22517,22517,22517,22517,22517,22517,22517,22517,22517
20-30,73935,73935,73935,73935,73935,73935,73935,73935,73935,73935,73935,73935
30-40,86251,86251,86251,86251,86251,86251,86251,86251,86251,86251,86251,86251
40-50,67173,67173,67173,67173,67173,67173,67173,67173,67173,67173,67173,67173
50-16000,199204,199204,199204,199204,199204,199204,199204,199190,199204,199204,199204,199204

In [43]:
# Determine word count of body
posts_questions_df['q_body_word_count']= posts_questions_df['q_body'].str.split().str.len() #word count
# Group by body word count
q_body_explore_raw = posts_questions_df.groupby('q_body_word_count').count()
q_body_explore_raw

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count,q_score_tier,q_title_char_count,q_title_word_count,q_title_char_count_bin,q_title_word_count_bin,q_view_count_bin
q_body_word_count,,,,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,1,1,1
4,2,2,2,2,2,2,2,2,2,2,2,2,2
5,5,5,5,5,5,5,5,5,5,5,5,5,5
6,6,6,6,6,6,6,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6149,1,1,1,1,1,1,1,1,1,1,1,1,1
6201,1,1,1,1,1,1,1,1,1,1,1,1,1
6712,1,1,1,1,1,1,1,1,1,1,1,1,1
7435,1,1,1,1,1,1,1,1,1,1,1,1,1
9288,1,1,1,1,1,1,1,1,1,1,1,1,1

In [44]:
q_body_explore_raw.sort_values(by=['q_title']).tail(20) # Majority views around mid 20s to 30s

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count,q_score_tier,q_title_char_count,q_title_word_count,q_title_char_count_bin,q_title_word_count_bin,q_view_count_bin
q_body_word_count,,,,,,,,,,,,,
99,2314,2314,2314,2314,2314,2314,2314,2314,2314,2314,2314,2314,2313
104,2326,2326,2326,2326,2326,2326,2326,2326,2326,2326,2326,2326,2326
82,2326,2326,2326,2326,2326,2326,2326,2325,2326,2326,2326,2326,2326
101,2335,2335,2335,2335,2335,2335,2335,2334,2335,2335,2335,2335,2334
106,2336,2336,2336,2336,2336,2336,2336,2336,2336,2336,2336,2336,2336
94,2336,2336,2336,2336,2336,2336,2336,2335,2336,2336,2336,2336,2335
76,2339,2339,2339,2339,2339,2339,2339,2339,2339,2339,2339,2339,2339
80,2342,2342,2342,2342,2342,2342,2342,2342,2342,2342,2342,2342,2342
111,2344,2344,2344,2344,2344,2344,2344,2344,2344,2344,2344,2344,2343
83,2348,2348,2348,2348,2348,2348,2348,2347,2348,2348,2348,2348,2347
103,2349,2349,2349,2349,2349,2349,2349,2349,2349,2349,2349,2349,2349
77,2353,2353,2353,2353,2353,2353,2353,2353,2353,2353,2353,2353,2353
88,2365,2365,2365,2365,2365,2365,2365,2365,2365,2365,2365,2365,2364
102,2369,2369,2369,2369,2369,2369,2369,2369,2369,2369,2369,2369,2369
85,2373,2373,2373,2373,2373,2373,2373,2373,2373,2373,2373,2373,2373
91,2377,2377,2377,2377,2377,2377,2377,2377,2377,2377,2377,2377,2377
86,2378,2378,2378,2378,2378,2378,2378,2377,2378,2378,2378,2378,2378
96,2382,2382,2382,2382,2382,2382,2382,2382,2382,2382,2382,2382,2382
90,2404,2404,2404,2404,2404,2404,2404,2404,2404,2404,2404,2404,2403
89,2426,2426,2426,2426,2426,2426,2426,2426,2426,2426,2426,2426,2426

In [45]:
# Bin body word count for more meaningful analysis
# Establish the bins.
q_body_len_bins = [0,  100, 500, 10000]
q_body_len_group_names = ["<100", "100-500", "500-10000"]

# Categorize body length based on the bins.
posts_questions_df['q_body_len_bin'] = pd.cut(posts_questions_df['q_body_word_count'], q_body_len_bins, labels=q_body_len_group_names)

# Explore body length
q_body_len_explore = posts_questions_df.groupby('q_body_len_bin').count()
q_body_len_explore

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count,q_score_tier,q_title_char_count,q_title_word_count,q_title_char_count_bin,q_title_word_count_bin,q_view_count_bin,q_body_word_count
q_body_len_bin,,,,,,,,,,,,,,
<100,141210,141210,141210,141210,141210,141210,141210,141196,141210,141210,141210,141210,141182,141210
100-500,290518,290518,290518,290518,290518,290518,290518,290510,290518,290518,290518,290518,290475,290518
500-10000,17877,17877,17877,17877,17877,17877,17877,17877,17877,17877,17877,17877,17875,17877

In [46]:
# Readjust bins for more distributed data - add meaningfulness to ML model inputs

# Establish the bins.
q_body_len_bins = [0, 50, 100, 250, 500, 10000]
q_body_len_group_names = ["<50", "50-100", "100-250", "250-500", "500-10000"]

# Categorize body length based on the bins.
posts_questions_df['q_body_len_bin'] = pd.cut(posts_questions_df['q_body_word_count'], q_body_len_bins, labels=q_body_len_group_names)

# Explore body length
q_body_len_explore = posts_questions_df.groupby('q_body_len_bin').count()
q_body_len_explore

,q_title,q_body,accepted_answer_id,q_creation_date,q_score,q_tags,q_view_count,q_score_tier,q_title_char_count,q_title_word_count,q_title_char_count_bin,q_title_word_count_bin,q_view_count_bin,q_body_word_count
q_body_len_bin,,,,,,,,,,,,,,
<50,32509,32509,32509,32509,32509,32509,32509,32504,32509,32509,32509,32509,32502,32509
50-100,108701,108701,108701,108701,108701,108701,108701,108692,108701,108701,108701,108701,108680,108701
100-250,218817,218817,218817,218817,218817,218817,218817,218812,218817,218817,218817,218817,218780,218817
250-500,71701,71701,71701,71701,71701,71701,71701,71698,71701,71701,71701,71701,71695,71701
500-10000,17877,17877,17877,17877,17877,17877,17877,17877,17877,17877,17877,17877,17875,17877

In [47]:
q_tags = posts_questions_df['q_tags']
q_tags # Observe the list of tags

q_id
65526420                          r|data.table|rowwise
65526423                              javascript|d3.js
65526490                                      c|macros
65526419                       c++|std|c++20|allocator
65526523         reactjs|react-router|react-router-dom
                               ...
69060773                           android-progressbar
69060793                          bash|virtual-machine
69060850                                 intellij-idea
69060801    python|pandas|dataframe|time-series|cumsum
69060411                    php|file|validation|exists
Name: q_tags, Length: 449605, dtype: object

In [48]:
q_tags_count = q_tags.str.count('\\|') + 1 # Count the number of | + 1 to get the number of tags in each row

posts_questions_df['q_tags_count'] = q_tags_count # Append the list as a column to the posts_questions_df 
tag_count = posts_questions_df[['q_tags','q_tags_count']]
tag_count

                                              q_tags  q_tags_count
q_id
65526420                        r|data.table|rowwise             3
65526423                            javascript|d3.js             2
65526490                                    c|macros             2
65526419                     c++|std|c++20|allocator             4
65526523       reactjs|react-router|react-router-dom             3
...                                              ...           ...
69060773                         android-progressbar             1
69060793                        bash|virtual-machine             2
69060850                               intellij-idea             1
69060801  python|pandas|dataframe|time-series|cumsum             5
69060411                  php|file|validation|exists             4

[449605 rows x 2 columns]

In [58]:
# Group by tag count
tag_count_exlore = tag_count.groupby('q_tags_count').count()
tag_count_exlore

              q_tags
q_tags_count
1              53181
2             117262
3             125491
4              86881
5              66790

In [57]:
# Export posts_questions_df to csv
posts_questions_df.to_csv("posts_questions.csv", index = False, header=True)

In [59]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/stackoverflow"

In [60]:
engine = create_engine(db_string)

In [61]:
# Import posts_questions_df to SQL table

posts_questions_df.to_sql(name='posts_questions', con=engine, if_exists='replace')

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Query + EDA of post_answers table

In [ ]:
# Pull only relevant columns to ML model
query_job = client.query(
        """
        SELECT
        id, creation_date, parent_id
        FROM `bigquery-public-data.stackoverflow.posts_answers`
        WHERE creation_date > '2021-01-01'
        ORDER BY id"""
    )

results = query_job.result()  # Waits for job to complete.
    # [END bigquery_simple_app_query]

    # [START bigquery_simple_app_print]
# for row in results:
#     print(row)
results_list = [row for row in results]
cols = ['a_id', 'a_creation_date', 'q_id']
posts_answers_df = pd.DataFrame.from_records(results_list, columns=cols)
posts_answers_df

In [ ]:
posts_answers_df.shape

In [ ]:
posts_answers_df.nunique()

In [ ]:
posts_answers_df = posts_answers_df.set_index("a_id")

In [ ]:
posts_answers_df.head()

In [ ]:
#db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/stackoverflow"
#engine = create_engine(db_string)

In [ ]:
# Import posts_answers_df to SQL table

#posts_answers_df.to_sql(name='posts_answers', con=engine, if_exists='replace')

SQL Join in Postgres <br>
Run all above code <br>
In pgAdmin, run join query to create 'duration' table: <br>

-- Duration Dataframe<br>
SELECT q.q_id,<br>
	   q.accepted_answer_id,<br>
	   q.q_creation_date,<br>
	   an.a_id,<br>
	   an.a_creation_date<br>
INTO duration<br>
FROM posts_questions as q<br>
INNER JOIN posts_answers as an<br>
ON (q.accepted_answer_id = an.a_id)<br>

Then, run all below code<br>

In [ ]:
#db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/stackoverflow"
#engine = create_engine(db_string)
#pd.read_sql_query('''
    #SELECT q.q_id,
           #q.accepted_answer_id,
           #q.q_creation_date,
           #an.a_id,
           #an.a_creation_date
   # INTO duration
   # FROM posts_questions as q
   # INNER JOIN posts_answers as an
   # ON (q.accepted_answer_id = an.a_id)
   # ''', engine)

In [ ]:
# Read duration table into dataframe
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/stackoverflow"
engine = create_engine(db_string)
  
# table named 'duration' will be returned as a dataframe.
duration_df = pd.read_sql_table('duration', engine)
duration_df

In [ ]:
# transform duration
duration_df = duration_df.drop(columns='a_id')
duration_df

In [ ]:
# Add column for day of question_creation_date [question_day]
duration_df['q_day'] = duration_df['q_creation_date'].dt.day_name()
duration_df

In [ ]:
# Add column for hour value of question_creation_date [question_time]
duration_df['q_hour'] = duration_df['q_creation_date'].dt.hour

duration_df

In [ ]:
# Add column for duration till accepted answer (answer_creation_date - question_creation_date)
duration_df['accepted_answer_duration'] = (duration_df['a_creation_date']-duration_df['q_creation_date'])/np.timedelta64(1,'h')
duration_df = duration_df.sort_values(by='accepted_answer_duration', ascending=False)
duration_df

In [ ]:
# Import duration_df to SQL table
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/stackoverflow"
engine = create_engine(db_string)
duration_df.to_sql(name='duration', con=engine, if_exists='replace')

In [ ]:
# Join duration table with post_questions table to create machine learning input in pgAdmin

-- ML Dataframe <br>
SELECT q.q_id, <br>
	   q.q_title, <br>
	   q.q_body, <br>
	   q.accepted_answer_id, <br>
	   q.q_creation_date, <br>
	   q.q_score, <br>
	   q.q_tags, <br>
	   q.q_view_count, <br>
	   q.q_score_tier, <br>
	   q.q_title_char_count, <br>
	   q.q_title_word_count, <br>
	   q.q_title_char_count_bin, <br>
	   q.q_title_word_count_bin, <br>
	   q.q_view_count_bin, <br>
	   q.q_body_word_count, <br>
	   q.q_body_len_bin, <br>
	   q.q_tags_count, <br>
	   d.a_creation_date, <br>
	   d.q_day, <br>
	   d.q_hour, <br>
	   d.accepted_answer_duration <br>
INTO ml_input <br>
FROM posts_questions as q <br>
JOIN duration as d <br>
ON (q.q_id = d.q_id); <br>

In [ ]:
# Read ml_input table into dataframe
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/stackoverflow"
engine = create_engine(db_string)
  
# table named 'ml_input' will be returned as a dataframe.
ml_input_df = pd.read_sql_table('ml_input', engine)
ml_input_df